.body__quote_newspaper {
  float: left;
  width: 50%;
  }

.title_italics {
  font: bold italic x-large Palatino, serif;
  font-variant-caps: titling-caps;
  text-decoration-line: underline;
}

@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
.article_title {
 font-family: 'Russo One', sans-serif;
}

footer {
  font: condensed oblique 12pt "Helvetica Neue", serif;
}
